S-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.iml
*.classpath
*.project
lint.xml

/sample/navercafesdk-sample-eclipse/*/bin/**/*
/sample/navercafesdk-sample-eclipse/*/gen/**/*
/sample/navercafesdk-sample-android-studio/.gradle/**/*
/sample/navercafesdk-sample-android-studio/.idea/**/*
/sample/navercafesdk-sample-android-studio/build/**/*
/sample/navercafesdk-sample-android-studio/local.properties