S-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.iml
*.classpath
*.project
lint.xml

/sample/navercafesdk-sample-eclipse/*/bin/**/*
/sample/navercafesdk-sample-eclipse/*/gen/**/*
/sample/**/.gradle/**/*
/sample/**/.idea/**/*
/sample/**/build/**/*
/sample/**/local.properties
